{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
<!--Header-->
<div class="row mb-3">
	<div class="col-10">
		<h1 class="m-0 me-2 page_title"><?php echo $title; ?></h1>
		<small class="text-muted"><?php echo $system_name; ?></small>
	</div>
	<div class="col-2">
		<div class="text-end">
			<div class="dropdown mx-3">
				<button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa-solid fa-bars text-primary"></i>
				</button>
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">					
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
            <li><?= $this->Html->link(__('Edit {{ singularHumanName }}'), ['action' => 'edit', {{ pK|raw }}], ['class' => 'dropdown-item', 'escapeTitle' => false]) ?></li>
            <li><?= $this->Form->postLink(__('Delete {{ singularHumanName }}'), ['action' => 'delete', {{ pK|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ pK|raw }}), 'class' => 'dropdown-item', 'escapeTitle' => false]) ?></li>
            <li><hr class="dropdown-divider"></li>
			<li><?= $this->Html->link(__('List {{ pluralHumanName }}'), ['action' => 'index'], ['class' => 'dropdown-item', 'escapeTitle' => false]) ?></li>
            <li><?= $this->Html->link(__('New {{ singularHumanName }}'), ['action' => 'add'], ['class' => 'dropdown-item', 'escapeTitle' => false]) ?></li>
{% set done = [] %}
					
					</div>
			</div>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<div class="card shadow">
			<div class="card-body">

<div class="row">

    <div class="column-responsive column-80">
        <div class="{{ pluralVar }} view content">
            <table table class="table table-hovered table-sm">
{% if groupedFields['string'] %}
{% for field in groupedFields['string'] %}
{% if associationFields[field] is defined %}
{% set details = associationFields[field] %}
                <tr>
                    <th><?= __('{{ details.property|humanize }}') ?></th>
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                </tr>
{% else %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endif %}
{% endfor %}
{% endif %}
{% if associations.HasOne %}
{% for alias, details in associations.HasOne %}
                <tr>
                    <th><?= __('{{ alias|underscore|singularize|humanize }}') ?></th>
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.number %}
{% for field in groupedFields.number %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
{% set columnData = Bake.columnData(field, schema) %}
{% if columnData.null %}
                    <td><?= ${{ singularVar }}->{{ field }} === null ? '' : $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
{% else %}
                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
{% endif %}
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.date %}
{% for field in groupedFields.date %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                </tr>
{% endfor %}
{% endif %}
{% if groupedFields.boolean %}
{% for field in groupedFields.boolean %}
                <tr>
                    <th><?= __('{{ field|humanize }}') ?></th>
                    <td><?= ${{ singularVar }}->{{ field }} ? __('Yes') : __('No'); ?></td>
                </tr>
{% endfor %}
{% endif %}
            </table>
{% if groupedFields.text %}
{% for field in groupedFields.text %}
            <div class="text">
                <strong><?= __('{{ field|humanize }}') ?></strong>
                <blockquote>
                    <?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
                </blockquote>
            </div>
{% endfor %}
{% endif %}
{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}
            <div class="related mt-3">
                <h4><?= __('Related {{ otherPluralHumanName }}') ?></h4>
                <?php if (!empty(${{ singularVar }}->{{ details.property }})) : ?>
                <div class="table-responsive">
                    <table class="table table-sm table-hovered table-bordered">
                        <tr>
{% for field in details.fields %}
                            <th><?= __('{{ field|humanize }}') ?></th>
{% endfor %}
                            <th class="actions"><?= __('Actions') ?></th>
                        </tr>
                        <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}) : ?>
                        <tr>
{% for field in details.fields %}
                            <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
{% endfor %}
{% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                            <td class="actions">
                                <?= $this->Html->link(__('View'), ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}]) ?>
                                <?= $this->Html->link(__('Edit'), ['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}]) ?>
                                <?= $this->Form->postLink(__('Delete'), ['controller' => '{{ details.controller }}', 'action' => 'delete', {{ otherPk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ otherPk|raw }})]) ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                </div>
                <?php endif; ?>
            </div>
{% endfor %}
        </div>
    </div>
</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
<div class="special_card mb-3">
  <div class="profile-card js-profile-card shadow">
	<div class="profile-card__img shadow" style="background-color: #dc3545;color: #ffffff;">
	  <i class="fa-solid fa-triangle-exclamation fa-xl" style="margin-left: 11px;margin-top: 21px;"></i>
	</div>
		<div class="card-body pt-0">
<?php if(${{ singularVar }}->status == 0 || ${{ singularVar }}->status == 1): ?>

	<div class="fw-semibold fs-5 py-0">Archived {{ singularVar }}</div>
<div class="mb-3 col-12 mb-0">
  <div class="alert alert-warning">
	<p class="mb-0">This step will transfer the {{ singularVar }} to archived. Once transfer to archived, it will remained and cannot be revert back. Please be certain.</p>
  </div>
</div>

<div class="text-end mb-2">
<?= $this->Form->postLink(
				__('Archived'),
				['action' => 'archived', ${{ singularVar }}->id],
				[
					'confirm' => __('Are you sure you want to archived {{ singularVar }}: "{0}"?', ${{ singularVar }}->id),
					'title' => __('Archived'),
					'class' => 'btn btn-success',
					'escapeTitle' => false,
					'data-bs-toggle' => "modal",
					'data-bs-target' => "#bootstrapModal"
				]
			) ?>

</div>
<?php endif; ?>	

<?php if(${{ singularVar }}->status == 2): ?>
This {{ singularVar }} has been archived on <?php echo date('M d, Y (h:i A)', strtotime(${{ singularVar }}->modified)); ?>
<?php endif; ?>	
		</div>
  </div>
</div>
	</div>
</div>
